
[Tt]emp/
[Oo]bj/
[Bb]in/
[Bb]uild/

.vs/
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.idb
.ipch/
[Bb]in/
[Dd]ebug/
[Rr]elease/
Ankh.NoLoad

#  사용자 개인 파일
*.user
*.userosscache
*.suo
*.sln.docstates

# 빌드 폴더
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Oo]ut/
[Ll]og[sS]/